#transform-tree{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    box-sizing: border-box;
    width:800px;
    /*height:300px;*/
    margin:auto;
    box-shadow: 0 0 1px 0 #000000;
}
